/*All pages*/

body {
  background-image: url(/assets/images/interlaced/interlaced.png);
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

/*important overrides bootstrap default*/ 
a {
  text-decoration: none !important;
  color: rgb(146, 144, 144) !important;
}

/*fix collapse issues from floats*/
.clear {
  clear: both;
}


/* Header Section all pages*/
header {
  height: 75px;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 40px;
  text-align: center;
}

.left-header {
  height: 75px;
  background: #4aaaa5;
  color: #ffffff ;

}


.right-header {
  height: 75px;
  text-align:end;
}

#item-1,
#item-2,
#item-3 {
  margin-right: 10px;
  font-size: 16px;
}

#item-1,
#item-2 {
  padding-right: 10px;
  border-right: solid 1px;
}

/*main Header for all sections*/
.main-header {
  color: #4aaaa5;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 2px lightgray;
}

/*Index Main Section*/

main {
  background: white;
  text-align: left;
}

.index-main-header {
  width: 93%;
  margin: auto;
  color: #4aaaa5;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 2px lightgray;
}

.index-main-image {
  padding: 25px 25px 10px 35px;
  float: left;
}

.index-main-info {
  padding: 35px;
  line-height: 175%;
}

/*Portfolio*/ 

.portfolio{
  padding: 25px 25px 10px 35px;
}

.portfolio img{
  padding-top:25px;
}

/*Contact Section*/
form {
  background: white;
  text-align: left;
  color: gray;
}

#input-wrapper {
  padding: 25px 35px;
}

#contact-input-name {
  width: 99%;
  border: solid #cccccc 1px;
  padding-left: 10px;
}

#contact-input-email {
  width: 99%;
  border: solid #cccccc 1px;
  padding-left: 10px;
}
#contact-input-message {
  width: 99%;
  height: 300px;
  border: solid #cccccc 1px;
  padding-left: 10px;
}

#submit {
  background: #4aaaa5;
  color: white;
  border: none;
  height: 30px;
  width: 90px;
}

/*Footer Section*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4aaaa5;
  height: 50px;
}
