/*All pages*/

body {
  background-image: url(/assets/images/interlaced/interlaced.png);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

a {
  text-decoration: none;
  color: rgb(146, 144, 144);
}

/*fix collapse issues from floats*/
.clear {
  clear: both;
}

/* Header Section all pages*/
header {
  width: auto;
  height: 75px;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  padding-left: 480px;
  padding-right: 480px;
  margin-bottom: 40px;
}

.left-header {
  display: flex;
  height: 75px;
  width: 240px;
  justify-content: flex-start;
  align-items: center;
  float: left;
  background: #4aaaa5;
  color: white;
}

.left-header h2 {
  margin: auto;
}

.right-header-flex {
  display: flex;
  height: 75px;
  justify-content: flex-end;
  align-items: center;
}

#flex-item-1,
#flex-item-2,
#flex-item-3 {
  margin-right: 10px;
  font-size: 16px;
}

#flex-item-1,
#flex-item-2 {
  padding-right: 10px;
  border-right: solid 1px;
}

/*main Header for all sections*/
.main-header {
  width: 93%;
  margin: auto;
  color: #4aaaa5;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 2px lightgray;
}

/*Index Main Section*/

main {
  margin: auto;
  width: 960px;
  background: white;
  text-align: left;
}

#index-main-header {
  width: 93%;
  margin: auto;
  color: #4aaaa5;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 2px lightgray;
}

#index-main-image {
  padding: 25px 25px 10px 35px;
  float: left;
}

#index-main-info {
  padding: 35px;
  line-height: 175%;
}

/*Contact Section*/
form {
  margin: auto;
  width: 960px;
  height: 625px;
  background: white;
  text-align: left;
  color: gray;
}

#input-wrapper {
  padding: 25px 35px;
}

#contact-input-name {
  width: 99%;
  border: solid #cccccc 1px;
  padding-left: 10px;
}

#contact-input-email {
  width: 99%;
  border: solid #cccccc 1px;
  padding-left: 10px;
}
#contact-input-message {
  width: 99%;
  height: 300px;
  border: solid #cccccc 1px;
  padding-left: 10px;
}

#submit {
  background: #4aaaa5;
  color: white;
  border: none;
  height: 30px;
  width: 90px;
}

/*Footer Section*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4aaaa5;
  height: 50px;
}
